@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  background-color: whitesmoke;
}
.perfume--section {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.perfume--image {
  max-width: 45em;
}
.perfume--heading {
  font-family: "Playfair Display", serif;
  margin-block: 2rem;
}
.perfume--text {
  letter-spacing: 0.5em;
  font-family: "Cormorant Garamond", serif;
  margin-block: 2rem;
}
.perfume--price {
  margin-block: 3rem;
}

.item--section {
  max-width: 70em;
  margin-inline: auto;
  gap: 4rem;
}
.Add--cart {
  border-radius: 1rem;
}
.purchase--btn:hover {
  background-color: rgb(76, 76, 154);
  cursor: pointer;
}
.purchase--btn {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  border-radius: 20px;
  padding-inline: 2rem;
  margin-block: auto;
  background-color: darkgreen;
}
